@import "tailwindcss";

@theme {
  --color-primary: #15803d; 
  --color-secondary: #facc15; 
  --color-background: #f4f8f4; 
  --color-surface: #ffffff; 
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: system-ui, -apple-system, sans-serif;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
